body {
    background: rgb(17, 17, 17);
    color: #fff;
    
}

.title{
    color: rgb(61, 66, 221);

}

.navbar{
    color: rgb(232, 101, 101);

}

.lists{
    color: rgb(43, 128, 22);

}

.image {
    color: rgb(221, 232, 23);

}