<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toggle Tracker</title>
    <style>    </style>


</head>
<body>

<header>
<h1><%=title%></h1>
</header>

<div class="navbar">

</div>

<form action="" method="post" class="container-form">
    <section>
        <input type="text">
    
    </section>
    <input type="submit" value="Submit Progress">
    </form>
    
    <div class="image" > 
    </div>
    
    <footer></footer>
    
    </body>
    
<script src="toggle_tracker.js">

</script>
</html>