<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ehi's Toggle Tracker</title>
    <style>    </style>

</head>
<body>

<form action="/tracker-submit" method="post" class="container-form">
    <section>

        
    </section>
    <input type="submit" value="Submit Progress">
</form>
    
    <div class="image" > 
    </div>

    <%- include('layout') %> 
    </body>
    
    <% let JSONejs = JSONobj; %> 

<script src="toggle_tracker.js">  
</script>

<script>
    let JSONobj = <%- JSON.stringify(JSONejs) %>;
    populateSection(JSONobj);
</script>

</html>