<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Ehi's Toggle Tracker</h1>
    </header>
<article>
    <ul class="sidebar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/users">Account</a></li>
        <li><a href="/stats">Statistics</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/users/log-out">Log out</a></li>
        <li><a href="/FAQ">FAQ</a></li>
    </ul>
</article>   
<!--with pejs, we can add a content block here and then we can use inheritence to make our lives a tad easier.-->
<footer>Footer.</footer>
</body>
</html>