<!DOCTYPE html>
<body>
    <%- include("header_sidebar.ejs") %> 

    <div class="content-wrapper">
        <form id="settingsForm" class="container-form">
        </form>
        <!--where the JSON comes in-->
    </div>
    <%- include("footer.ejs") %>
</body>
<script src="/javascripts/settingsScript.js"></script>
</html>