<!DOCTYPE html>
<style>
    .userForm{
        display: grid;
        grid-auto-columns: 100%;
        margin: 50px;
        padding: 20px;
        width: clamp(200px, 400px, 500px);
    }
    input{
        float: inline-end
    }
</style>
</head>

<body>

    <%- include('header_sidebar') %> 
    <div class="content-wrapper" style="display: flex" >
        
        <form method="POST" id="createUserAccountForm" name="createUserAccountForm" class="userForm">
            <h1>Create an account:</h1>
            <label>Username: <input type="text" name="userName"></label>
            <label>Display name: <input type="text" name="displayName"></label>
            <label>Password: <input type="password" name="password"></label>
            <button type="submit" class="submit">Create your account</button>
        </form>
    
    <!-- insert the client-side validation here. -->

        <form method="POST" id="loginUserAccountForm" name="loginUserAccountForm" class="userForm">
            <h1>Login to an account:</h1>
            <label>Username: <input type="text" name="userName"></label>
            <label>Password: <input type="password" name="password"></label>
            <label>Confirm Password: <input type="password" name="confirmPassword"></label>
            <button type="submit" class="submit">Login to your account</button>
        </form>
    </div>
    <!-- insert the client-side validation here. -->
    
    <%- include("footer.ejs") %>

</body>
<script src="/javascripts/usersScript.js"></script>
</html>